#root {
  position: relative;
}

#startButton {
  position: absolute;
  border: none;
  background: none;
  color: white;
  font: bold 48px arial;
  text-transform: uppercase;
  left: 475px;
  top: 245px;
  animation: glow 1s ease-in-out infinite alternate;
  user-select: none;
  cursor: pointer;
}

#restartButton:hover,
#exitButton:hover {
  background-color: white;
  color: black;
}

#restartButton,
#exitButton {
  position: absolute;
  background: none;
  color: white;
  font: bold 20px arial;
  text-transform: uppercase;
  left: 450px;
  top: 220px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

#exitButton {
  top: 280px;
  left: 470px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #bcd1f7, 0 0 12px #bcd1f7, 0 0 15px #bcd1f7, 0 0 18px #bcd1f7,
      0 0 20px #bcd1f7;
  }

  to {
    text-shadow: 0 0 18px #bcd1f7, 0 0 22px #bcd1f7, 0 0 25px #bcd1f7, 0 0 30px #bcd1f7,
      0 0 35px #bcd1f7;
  }
}
