body {
  background-color: lightgray;
}

canvas {
  position: relative;
  left: calc(50% - 500px);
  top: 10px;
  background-color: gray;
  border: 1px solid white;
}

#root {
  position: relative;
}

#startButton {
  position: absolute;
  border: none;
  background: none;
  color: white;
  font: bold 48px arial;
  text-transform: uppercase;
  left: calc(50% - 50px);
  top: 245px;
  animation: glow 1s ease-in-out infinite alternate;
  user-select: none;
  cursor: pointer;
}

#restartButton:hover,
#exitButton:hover {
  background-color: white;
  color: black;
}

#restartButton,
#exitButton {
  background: "none";
  display: none;
}

#restartButton,
#exitButton,
#upButton,
#downButton,
#leftButton,
#rightButton,
#spaceButton {
  position: absolute;
  color: white;
  font: bold 20px arial;
  text-transform: uppercase;
  left: calc(50% - 50px);
  top: 220px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#exitButton {
  top: 280px;
  left: calc(50% - 25px);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #bcd1f7, 0 0 12px #bcd1f7, 0 0 15px #bcd1f7, 0 0 18px #bcd1f7,
      0 0 20px #bcd1f7;
  }

  to {
    text-shadow: 0 0 18px #bcd1f7, 0 0 22px #bcd1f7, 0 0 25px #bcd1f7, 0 0 30px #bcd1f7,
      0 0 35px #bcd1f7;
  }
}

#upButton,
#downButton,
#leftButton,
#rightButton,
#spaceButton {
  background: "blue";
  color: gray;
  width: 100px;
  height: 100px;
  font-size: 15px;
  user-select: none;
  pointer-events: none;
}

#upButton,
#downButton {
  left: calc(50% - 200px);
  top: 470px;
}

#downButton,
#leftButton,
#rightButton,
#spaceButton {
  top: 580px;
}

#leftButton {
  left: calc(50% - 310px);
}

#rightButton {
  left: calc(50% - 90px);
}

#spaceButton {
  left: calc(50% + 60px);
  width: 300px;
}

#controlLabel,
#spaceLabel {
  position: absolute;
  left: calc(50% - 200px);
  top: 430px;
  color: gray;
}

#spaceLabel {
  left: calc(50% + 110px);
  top: 530px;
}
