#root {
  position: relative;
}

#startButton {
  position: absolute;
  border: none;
  background: none;
  color: white;
  font: bold 48px arial;
  text-transform: uppercase;
  left: 475px;
  top: 245px;
  animation: glow 1s ease-in-out infinite alternate;
  user-select: none;
  cursor: pointer;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #bcd1f7, 0 0 12px #bcd1f7, 0 0 15px #bcd1f7, 0 0 18px #bcd1f7,
      0 0 20px #bcd1f7;
  }

  to {
    text-shadow: 0 0 18px #bcd1f7, 0 0 22px #bcd1f7, 0 0 25px #bcd1f7, 0 0 30px #bcd1f7,
      0 0 35px #bcd1f7;
  }
}
